* {
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Arial, sans-serif;
}
form{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 20px;
	background-color: #65F3FC;
}
form input{
	font-size: 18px;
	font-weight: bold;
	background-color: #0894AD;
	border: none;
	padding: 10px;
	float: right;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

form p {
	float: left;
	margin: 0 20px;
	text-align: center;
}

form img {
	max-width: 40px;
	display: block;
	margin: auto;
}

.pixel{
	width: 18px;
	height: 18px;
	background-color: rgba(255,255,255,0);
	float: left;
	border: 1px solid rgba(255,255,255,0);
}
.pixel:hover{
	border: 1px solid rgba(0,0,0,1);
}
nav{
	position: absolute;
	font-size: 16px;
	background-color: #f4f4f4;
	text-align:center;
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav ul li{
	width: 140px;
	padding-top: 2px;
	padding-bottom: 2px;
	cursor: pointer;
}
nav ul li:hover:nth-child(1){
	background-color: rgba(0,0,255,1);
	color: rgb(255,255,255);
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
nav ul li:hover:nth-child(2), .RED{
	background-color: rgba(255,0,0,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(3), .YELLOW{
	background-color: rgba(255,255,0,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(4), .GREEN{
	background-color: rgba(0,255,0,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(5), .PURPLE{
	background-color: rgba(128,0,128,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(6), .ORANGE{
	background-color: rgba(255,165,0,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(7), .BROWN{
	background-color: rgba(101,67,33,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(8), .WHITE{
	background-color: rgba(255,255,255,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(9), .LIGHT{
	background-color: rgba(192,192,192,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(10), .MED{
	background-color: rgba(105,105,105,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(11), .DARK{
	background-color: rgba(43,43,43,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(12), .BLACK{
	background-color: rgba(0,0,0,1);
	color: rgb(255,255,255);
}
nav ul li:hover:nth-child(13), .FLESH{
	background-color: rgba(217,187,123,1);
	color: rgb(0,0,0);
}
nav ul li:hover:nth-child(14){
	background-color: rgba(85,170,255,1);
	color: rgb(0,0,0);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.BLUE{
	background-color: rgba(0,0,255,1);
}
.SKY{
	background-color: rgba(85,170,255,1);
}

#magicChest {
position: absolute;
width: 6vw;
z-index: 5; }

#magicChest {
bottom: 2.8vw;
right: 6vw;
display: none; }

#magicChest:hover {
cursor: pointer; }

#magicChestContainer {
border: 0.8vw solid darkgrey;
font-family: "Press Start 2P","sans-serif";
border-radius: 0.6vw;
border-style: ridge;
position: absolute;
z-index: 6;
display: none; }
#magicChestContainer #magicChestContents {
background-position: center;
background-size: cover;
min-height: 10vw;
padding: 1vw 0vw;
overflow: auto; }
#magicChestContainer #magicChestContents {
background-image: url("../img/purple-galaxy-texture.jpg");
max-height: 30vw;
width: 75vw;
padding: 1vw; }
#magicChestContainer #toyChestContents ol {
list-style-type: none; }
#magicChestContainer #toyChestContents ol li {
list-style: none;
margin-bottom: 2vw; }
#magicChestContainer #toyChestContents a {
color: white;
text-decoration: none;
padding: 1vw; }
#magicChestContainer #toyChestContents a:hover {
color: #ffd23a; }
#magicChestContainer #toyChestTech {
padding: 1vw;
background-image: url("../img/red-felt-texture.jpg");
background-position: center;
background-size: cover;
border-top: 0.6vw solid darkgrey;
border-top-style: ridge;
height: 6vw; }
#magicChestContainer #toyChestTech .toyTechText {
color: #757575;
font-size: 1vw;
text-align: center;
display: block;
margin-top: 2.5vw; }
#magicChestContainer #toyChestTech .toyTech {
width: 5vw;
margin-bottom: 1vw;
display: none; }

#magicChestContainer {
bottom: 21vh;
right: 1vw; }

#magicChestTitle {
text-align: center;
padding: 1vw;
border-bottom: 0.6vw solid darkgrey;
border-bottom-style: ridge; }

#magicChestTitle {
color: #990099;
background-color: rgba(0, 0, 0, 0.97); }

input[type=checkbox] {
display: none; }

ul {
display: none;
list-style-type: none; }
ul li {
margin-top: 1vw; }

ol {
list-style-type: none; }
ol li {
margin-top: 1vw; }

input[type=checkbox]:checked ~ ul {
display: block; }

label {
padding: 0.5vw; }

label:hover {
background-color: rgba(0, 0, 0, 0.5); }

ol li label {
color: #ff9900;
font-size: 2vw; }

ol li ul li label {
color: #ffff00;
font-size: 1.5vw; }

ol li ul li ul li label {
color: #009900;
font-size: 1.25vw; }

ol li ul li ul li ul li label {
color: #0099cc;
font-size: 1.12vw; }

ol li ul li ul li ul li ul li label {
color: #330099;
font-size: 1.06vw; }

li p {
color: white;
line-height: 1.4vw;
padding: 1vw;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 2vw; }
li p a {
text-decoration: none;
color: #3e41cc; }